<link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">

<head>
	<title>Plain Text Police - Start capture</title>
</head>

<body>

<table class="heading" align="center" border="0" cellpadding="20" cellspacing="10">
<tr>
    <td style="text-align:center">
        <h2>Plain Text Police</h2>
        <p> 
		<form action={{ url_for('capture') }}>
        	<input type="submit" value="Start capturing traffic"</>
		</form>
        </p>
    </td>
</tr>
</table>

<table class="instructions" align="center" border="0" cellpadding="20" cellspacing="10">
<tr>
    <td style="text-align:center"><h3>Instructions:</h3>
    <p>Close all the apps on the Target Device and click the start button above. Start one mobile app and use it to generate some network traffic. Then stop the capture. You'll see the stop button after you click start, and it will take you to the results page, which will show you an analysis of the network traffic.</p>
    </td>
</tr>
</table>


</body>
