<link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">
<table align="center" border="0" cellpadding="20" cellspacing="10">

{% set num_cols = results[0]|length + 1 %}
{% set svr_ip_col = 1 %}
{% set is_encrypted_col = 4 %}

{#
<tr>
	{% for col_no in range(1, num_cols) %}
		<th>COLUMN {{ col_no }} </th>
	{% endfor %}
</tr>
#}

<tr>
	<th>TCP connection count</th>
	<th>Web server address</th>
	<th>Bytes sent by Target Device</th>
	<th>Bytes received by Target Device</th>
	<th>Connection encrypted?</th>
</tr>

{% for row in results %}
	{% set connection_id = row[0] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td><a href="/connection_details?conn_id={{ connection_id }}">{{ row[svr_ip_col] }}</td>

		{% for value in row[2:4] %}  
			<td>{{ value }}</td>
		{% endfor %}

		<td><a href="/encryption_details?conn_id={{ connection_id }}">{{ row[is_encrypted_col] }}</td>
	</tr>
{% endfor %}

</table>
